body {
    text-align: center;
    background-color: green;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: capitalize;
    color: red;
}
